--find-links https://k2-fsa.github.io/icefall/piper_phonemize.html

torch==2.5.1
torchaudio==2.5.1
numpy
lhotse
huggingface_hub
safetensors
tensorboard
vocos
pydub

# Normalization
cn2an
inflect

# Tokenization
jieba
piper_phonemize
pypinyin
setuptools<81

onnx
tensorrt==10.7.0